.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.home_container_title {
  color: white;
  margin-top: .5rem;
  font-weight: 1100;
}

.home_container_rows_number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.home_container_rows_number > label {
  font-size: 24px;
  color: white;
}

.home_container_rows_number > input {
  padding: 16px 8px;
  font-size: 20px;
  margin-top: 0.5rem;
  text-align: center;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
}

.home_container_rows_number > input:focus {
  border: 2px solid black;
}

.home_container_buttons > button {
  margin: 1rem;
  padding: 15px 30px;
  outline: none;
  border: 1.5px solid white;
  border-radius: 5px;
  font-size: 20px;
  background-color: greenyellow;
  color: black;
  cursor: pointer;
}

.home_container_buttons > button:active {
  opacity: 0.8;
}

.home_container_buttons_save {
  background-color: red !important;
}

