.oneRow_container {
  display: flex;
  margin: .5rem 0;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.oneRow_container_extraNumber {
  margin-right: 1rem;
}

.oneRow_container_result {
  display: flex;
}

.oneRow_container_win3 {
  display: flex;
  margin-top: 1rem;
  background-color: #ccc;
  padding: 15px;
  border-radius: 5px;
}

.oneRow_container_win4 {
  display: flex;
  margin-top: 1rem;
  background-color: rgb(247, 247, 52);
  padding: 15px;
  border-radius: 5px;
}

.oneRow_container_win5 {
  display: flex;
  margin-top: 1rem;
  background-color: rgb(235, 63, 71);
  padding: 15px;
  border-radius: 5px;
  border: 2px white solid;
}

.oneRow_container_win6 {
  display: flex;
  margin-top: 1rem;
  background-color: rgb(34, 21, 21);
  padding: 15px;
  border-radius: 5px;
  border: 4px white solid;
}

.oneRow_container_hide {
  display: none;
}