.oneRow_container {
  display: flex;
  margin-top: 1rem;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.oneRow_container_extraNumber {
  margin-right: 1rem;
}

.oneRow_container_result {
  display: flex;
}

.oneRow_container_win3 {
  display: flex;
  margin-top: 1rem;
  background-color: #ccc;
  padding: 15px;
  border-radius: 5px;
}

.oneRow_container_win4 {
  display: flex;
  margin-top: 1rem;
  background-color: rgb(247, 247, 52);
  padding: 15px;
  border-radius: 5px;
}

.oneRow_container_hide {
  display: none;
}